---
import DocComment from "./DocComment.astro";
import DocFunction from "./DocFunction.astro";
import DocVariable from "./DocVariable.astro";
import { Accordion } from "astro-bootstrap";

const { classData, classId, parentId } = Astro.props;
const functionId = parentId + "Functions";
const functionAccordion = classData.name + "functionAccordion";

const variableId = parentId + "Variables";
const variableAccordion = classData.name + "variableAccordion";

//umacro
---

<Accordion.Item>
    <Accordion.Header parent={parentId} index={classId}
        >{classData.name}</Accordion.Header
    >
    <Accordion.Body parent={parentId} index={classId}>
        <DocComment comment={classData.comment} />
        {classData.name}

        <Accordion id={functionAccordion}>
            <Accordion.Item>
                <Accordion.Header parent={functionAccordion} index={0}
                    >Functions</Accordion.Header
                >
                <Accordion.Body parent={functionAccordion} index={0} show>
                    <Accordion id={functionId}>
                        {
                            classData.functions.map((funct: any, i: number) => (
                                <div>
                                    <DocFunction
                                        {funct}
                                        parentId={functionId}
                                        functionId={i}
                                    />
                                </div>
                            ))
                        }
                    </Accordion>
                </Accordion.Body>
            </Accordion.Item>
        </Accordion>

        <Accordion id={variableAccordion}>
            <Accordion.Item>
                <Accordion.Header parent={variableAccordion} index={0}
                    >Variables</Accordion.Header
                >
                <Accordion.Body parent={variableAccordion} index={0} show>
                    <Accordion id={variableId}>
                        {
                            classData.variables.map(
                                (variable: any, i: number) => (
                                    <div>
                                        <DocVariable
                                            {variable}
                                            parentId={variableId}
                                            variableId={i}
                                        />
                                    </div>
                                ),
                            )
                        }
                    </Accordion>
                </Accordion.Body>
            </Accordion.Item>
        </Accordion>
    </Accordion.Body>
</Accordion.Item>
