---
import DocParameters from "./DocParameters.astro";

const { macro } = Astro.props;
const metadata =
    macro.metadata && macro.metadata.length > 0 ? macro.metadata : null;

let parameters;
let values;

let metaParameters;
let metaValues;

if (macro && macro.parameters) {
    parameters = macro.parameters.map((param: any) => param.name);
    values = macro.parameters.map((param: any) => {
        return { description: param.value };
    });
}

if (macro && metadata) {
    metaParameters = metadata.map((param: any) => param.name);
    metaValues = metadata.map((param: any) => {
        return { description: param.value };
    });
}
---

{
    macro && macro.parameters && (
        <div class="border-bottom mt-4 mb-4">
            <div class="border-top">
                <h3>{macro.name}</h3>
            </div>
            <DocParameters {parameters} comments={values} />
            {metadata && (
                <div>
                    <p>Metaparamters</p>
                    <DocParameters
                        parameters={metaParameters}
                        comments={metaValues}
                    />
                </div>
            )}
        </div>
    )
}
