---
import { Carousel } from 'astro-bootstrap';

import type { CarouselSlideType } from 'astro-bootstrap';

import { getAllImages, getAllFirstImages } from '../utils/functions';

import projects from "../../public/JSON/projects.json";

const images = getAllFirstImages();
const caca = getAllImages()

const slides: CarouselSlideType[] = 
images.map((image, i) => (
  {
    img: image,
    active:(i==0)
  }
));

projects.map((project, i) =>
console.log(slides[i])
)

const id = 'CarouselProjectsDisplay';

---
<style>
  .caption{
    color: aqua;
  }
</style>

<Carousel {id} class:list={['customCarousel']}>
  <Carousel.Indicators {id} {slides} ></Carousel.Indicators>
  <Carousel.Inner>
    {
      projects.map((project, i) => (
        <Carousel.Item active={slides[i].active}>
          <img
            style="max-height: 70vh;"
            src={slides[i].img}
            class="d-block mw-100 h-auto m-auto img-fluid"
            alt={slides[i].alt}
          />
        <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-75">
            <h3>{`${project.name} (${project.type})`}</h3>
            <p>{project.shortDescription}</p>
        </div>
        </Carousel.Item>
      ))
    }
  </Carousel.Inner>
  <Carousel.Controls id={id} />
</Carousel>
<!-- <p>{project.shortDescription}</p> -->