---
import { Carousel } from 'astro-bootstrap';

import type { CarouselSlideType } from 'astro-bootstrap';

import { getAllImages } from '../utils/functions';

import projects from "../../public/JSON/projects.json";


const images = getAllImages();

const slides: CarouselSlideType[] = []
Object.values(images).map((folder, i) => (
  slides.push(
    {
      img: folder[0],
      active:(i==0)
    }
  )
));


const id = 'CarouselProjectsDisplay';

---
<style>
  .caption{
    color: aqua;
  }
</style>

<Carousel {id} class:list={['customCarousel']}>
  <Carousel.Indicators {id} {slides} ></Carousel.Indicators>
  <Carousel.Inner>
    {
      slides.map((slide, i) => (
        <Carousel.Item active={slide.active}>
          <img
            style="max-height: 70vh;"
            src={slide.img}
            class="d-block mw-100 h-auto m-auto img-fluid"
            alt={slide.alt}
          />
        <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-75">
            <h3>{`${projects[i].name} (${projects[i].type})`}</h3>
            <p>{projects[i].shortDescription}</p>
        </div>
        </Carousel.Item>
      ))
    }
  </Carousel.Inner>
  <Carousel.Controls id={id} />
</Carousel>
<!-- <p>{project.shortDescription}</p> -->